.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background:  #c6c2c2;
  width: 80%;
  border: 0;
  margin: 0 0 14px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
}
.login-page {
  width: 350px;
  padding: 8% 0 0;
  margin: auto;
}